In this lecture, we will introduce the two most frequently used **index selection methods** in Pandas – “loc” and “i-loc”. <br />
An index selection method slices a table according to your preferences. It is a powerful feature of the Pandas package. What you have learned about dictionaries, lists, and NumPy will be very helpful here.

In the beginning, we will start by importing the NumPy and Pandas packages.

In [1]:
import numpy as np
import pandas as pd

Earlier in the course, we learned to randomize a matrix through the “rand-int” NumPy function. We will take advantage of this trick as we create a new Pandas Data Frame.

In [2]:
np.random.randint(0,10,(6,4))

array([[6, 4, 9, 4],
       [7, 0, 0, 8],
       [7, 8, 9, 7],
       [6, 7, 1, 3],
       [6, 8, 0, 6],
       [8, 8, 3, 1]])

We will choose a 6 by 4 matrix, and, pay attention, as we will assign a tuple whose values will act as the names of the rows of our table. It is better to call this tuple an **index**. That is, in the data table we create, we will have 6 rows called “a”, “b”, “c”, 1, 2, and 3 respectively. Finally, let’s call our columns “x”, “y”, 8, and 9.  The names we are using here are a bit strange, but they will help us explain the difference between using numbers or labels in an index.

In [3]:
df = pd.DataFrame(np.random.randint(0,10,(6,4)), 
                      index=('a','b','c','1','2','3'),
                      columns=['x','y', 8, 9])

So, this is the new table. It contains 6 rows and 4 columns.

In [4]:
df

   x  y  8  9
a  3  9  9  4
b  7  1  0  2
c  1  6  2  8
1  4  5  9  5
2  4  9  9  7
3  8  2  8  0

Here are the two main methods we will need.

“Loc” is label based. This means that within the brackets (also called an indexing operator), you will have to indicate label values. In this data frame, all the row names are labels. So, should I decide to access the row with index 1, I must type “d.f.” dot “loc” and 1 in quotes within the brackets.

And here is the data that we managed to extract, ordered vertically.

In [5]:
df.loc['1']

x    4
y    5
8    9
9    5
Name: 1, dtype: int32

“Loc” with an index “b”, instead, will extract row “b”. And so on and so forth.

In [6]:
df.loc['b']

x    7
y    1
8    0
9    2
Name: b, dtype: int32

Had I written “d.f.” dot “loc” and 1 in the brackets, with no quotes, we would have run into an error.

In [7]:
df.loc[1]

KeyError: 1

Why? Because we did not designate 1 as a label. We put the number 1 within brackets. It is an integer, to be more precise. Values that are not marked as labels do not work properly with “loc”.

****

The “i-loc” method is position based. It is not, so to speak, labels driven. “I-loc” follows the classical Pythonic logic about indexing - the same as the one we used for slicing lists. In other words, we count from 0, and the colon symbol helps us when we specify rows or columns for extraction.

In [8]:
df.iloc[1]

x    7
y    1
8    0
9    2
Name: b, dtype: int32

Of course, a few examples will clarify when and how to use each of the two methods.

“I-loc” with an index from 1 to 4 will include rows 2, 3, and 4. Alternatively, the rows at positions 1, 2, and 3, right?

In [9]:
df.iloc[1:4]

   x  y  8  9
b  7  1  0  2
c  1  6  2  8
1  4  5  9  5

If we leave colon 3 in the brackets, we will get the first 3 rows – the rows indexed 0, 1, and 2. So, we must follow the same rules as the ones we applied when slicing lists.

In [10]:
df.iloc[:3]

   x  y  8  9
a  3  9  9  4
b  7  1  0  2
c  1  6  2  8

In the data table, we also have columns. The cell we just executed could have provided the same result if we had added a comma and a colon here. A single colon, without a number on any of the two sides, means we are interested in all the columns of the indicated row.

In [11]:
df.iloc[:3, :]

   x  y  8  9
a  3  9  9  4
b  7  1  0  2
c  1  6  2  8

Naturally, a sole colon before the comma, and then a column selection “colon 2”, will select the entire first and second columns of this data frame.

In [12]:
df.iloc[:,:2]

   x  y
a  3  9
b  7  1
c  1  6
1  4  5
2  4  9
3  8  2

Good. Now, for the sake of comparison, turning briefly to the “loc” method, this piece of code will extract all the rows until the one labeled with 2.

In [13]:
df.loc[:'2']

   x  y  8  9
a  3  9  9  4
b  7  1  0  2
c  1  6  2  8
1  4  5  9  5
2  4  9  9  7

Meanwhile, the line of code you see here will give me the rows corresponding to the indices ‘c’, 1, and 2. This example shows that “loc” can be helpful in certain situations.

In [14]:
df.loc['c':'2']

   x  y  8  9
c  1  6  2  8
1  4  5  9  5
2  4  9  9  7

In a bigger data table, where your data has been indexed with names, “loc” will help you point the rows that refer to the respective label names. For instance, in another data set, organized for all states, you could say “mark the data from “Arizona” to “Indiana” for me” placing the names within quotes in the parentheses after the “loc” method.

******************

Things get trickier when we have an integer based index. That is an index without explicit labels such as “a”, “b”, or “c”.

In this second data frame, we will use the integers 54, 55, 56, 1, 2, and 3 as row names, as this will allow us to explain the difference between “loc” and “i-loc” more easily.

In [15]:
df2 = pd.DataFrame(np.random.randint(0,10,(6,4)), 
                      index=(54, 55, 56, 1, 2, 3),
                        columns=['x','y', 8, 9])

Knowing there are no strings in the index of this data frame, “loc” will function with integer values within the brackets, using no quotes. However, still, it wouldn’t be a substitute of “i-loc” and, please, be very careful about that!

In [16]:
df2

    x  y  8  9
54  9  2  1  0
55  3  7  8  0
56  4  6  8  6
1   2  1  1  5
2   0  7  6  5
3   6  2  3  4

“Loc” until 2 will deliver a table containing all the rows up until the one whose index is 2. That is, we will have 5 rows in the newly created frame.

In [18]:
df2.loc[:2]

    x  y  8  9
54  9  2  1  0
55  3  7  8  0
56  4  6  8  6
1   2  1  1  5
2   0  7  6  5

With the same code within the brackets, “i-loc” will extract the first two rows of the second data frame – the rows indexed with 0 and 1.

In [19]:
df2.iloc[:2]

    x  y  8  9
54  9  2  1  0
55  3  7  8  0

This was a very delicate topic, believe me. There are tens of pages on the internet about index selection methods. It is important for you to understand the subtle difference between “loc” and “i-loc” so that you approach harder financial and data science tasks with ease.

Now, roll up your sleeves and do the following exercise!

*******

Exercises:

In [20]:
df['x']

a    3
b    7
c    1
1    4
2    4
3    8
Name: x, dtype: int32

In [21]:
df.loc[:,'x']

a    3
b    7
c    1
1    4
2    4
3    8
Name: x, dtype: int32

In [22]:
df[8]

a    9
b    0
c    2
1    9
2    9
3    8
Name: 8, dtype: int32

****

In [23]:
from pandas_datareader import data as wb

In [24]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [25]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   8.014160
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.949914
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.837497
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.853558
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.821433

In [26]:
PG.loc['1995-01-03', 'Open']

15.46875

In [27]:
PG.iloc[0,5]

8.01416015625

In [28]:
PG.iloc[0:5]

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   8.014160
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.949914
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.837497
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.853558
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.821433

*****

In [29]:
df3 = pd.DataFrame(np.random.randint(0,10,(6,4)), columns=['x','y', 8, 9])

In [30]:
df3

   x  y  8  9
0  9  1  9  6
1  1  6  2  7
2  0  6  4  5
3  9  5  0  3
4  4  3  7  7
5  3  4  9  2

In [31]:
df3.loc[0:3]

   x  y  8  9
0  9  1  9  6
1  1  6  2  7
2  0  6  4  5
3  9  5  0  3

In [32]:
df3.iloc[0:3]

   x  y  8  9
0  9  1  9  6
1  1  6  2  7
2  0  6  4  5

In [33]:
df3.loc[0:3,:'y']

   x  y
0  9  1
1  1  6
2  0  6
3  9  5

In [34]:
df3.iloc[0:3,1]

0    1
1    6
2    6
Name: y, dtype: int32